
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
